.App {
  text-align: center;
}

/* .content-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
}

.content-card img {
  width: 100%;
  height: auto;
}

.loader {
  font-size: 20px;
  margin: 20px;
} */
